{% extends "base2.html" %}
{% load static %}

{% block corpo %}
<div class="container">
  
<div class="row">
    
    <form method="post" action="{% url 'cadastro' %}" style="background-color: rgb(17, 187, 235); padding: 20px; border-radius: 8px;margin-top: 5rem;" > 
    {% csrf_token %}

    <div class="text-center">
        <img src="{% static 'media/img/logo.png' %}" alt="Logo" alt="Logo" class="img-fluid" style="width: 150px; height: 150px;  border-radius: 50%; object-fit: cover;">
    </div>

    <div class="form-group">
        <br>
        <h6>Cadastre-se:</h6>
        <br>

        <div class="form-row">
            <div class="col">
                <input class="form-control"  id="name" minlength="3" type="text" placeholder="Nome"  name ='name' required>
            </div>
            <div class="col">
                <input class="form-control"  id="sobrenome" minlength="3" type="text" placeholder="Sobrenome"  name ='sobrenome' required>
            </div>
        </div>
        
        
        <br>
        <input class="form-control" id="email" type="email" placeholder="Email" name ='email' required>
        <br>
        <input class="form-control" id="number" maxlength="15" type="text" placeholder="Matrícula" name ='number'><br>
        <input class="form-control" maxlength="15" type="text" placeholder="Nome do Curso" name ='curso'>
        <br>
        <div class="input-group" name = 'genero'  >
            <select class="custom-select"   name = "gender" id="gender">
                <option value = "NI" hidden >Gênero</option>
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
                <option value="OU">Prefiro não dizer</option>
            </select>
        </div>
        <br>
        
        <input class="form-control" id = "password" type="password" minlength="8" placeholder="Digite sua senha"  name= 'password' required  >
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Cadastre-se</button> 
            <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Login</button></a>
        </div>
        <br>
</div>    
</form>

</div>
</div>

</div>
{% endblock %}